@charset "UTF-8";
/* 단양관광 서브페이지 css */

@import url('https://webfontworld.github.io/SCoreDream/SCoreDream.css');
/* S-Core Dream */

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
/* 눈누 Pretendard */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* outline: 1px solid cornflowerblue; */
}
:root {
    font-family: 'SCoreDream';
    --swiper-navigation-size: 35px;
}
body {
    margin: 0 auto;
    width: 100vw;
    overflow-x: hidden;
}
#bread p{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding: 20px 50px;
    font-size: 16px;
    font-weight: 300;
    gap: 7px;
}
#bread span,
#bread i {
    cursor: pointer;
}
.topSec {
    display: flex;
    /* width: 90%; */
    gap: 80px;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    margin-bottom: 20px;
}
.tourWrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.topSec .tourName {
    font-size: 54px;
    background: linear-gradient(to bottom, rgba(2,165,100,1) 0%, rgba(23,112,179,1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.topSec .tourLocat {
    display: flex;
    gap: 5px;
    font-size: 18px;
    font-weight: 300;
}
.tourLocat + p {
    font-size: 24px;
    font-weight: 600;
    margin-top: 15px;
    color: #5a5a5a;
    position: relative;
}
.tourLocat + p:before {
    position: absolute;
    content: "";
    width: 55px;
    height: 2px;
    background: #878787;
    bottom: -3px;
    left: -4px;
}
.tourDetail {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.8em;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
    text-overflow: ellipsis;
}
#learnMore {
    display: flex;
    gap: 5px;
    color: #808080;
    cursor: pointer;
}
.expanded {
    -webkit-line-clamp: unset;
    max-height: none;
}
#learnMore .fa-chevron-down {
    transition: transform 0.3s;
}
.tourDetail.expanded + #learnMore .fa-chevron-down {
    transform: rotateX(180deg);
}
.topSec img {
    width: 705px;
    height: 510px;
    object-fit: contain;
}
.bottomSec {
    margin: 50px 0;
    overflow: hidden;
}
.tourCards .swiper-slide {
    /* width: 150px; */
    height: 320px;
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper-button-next,
.swiper-button-prev {
    color: #fff;
    width: 50px;
}
.tourCards img {
    border-radius: 10px;
    width: 280px;
    height: 300px;
    object-fit: cover;
    transition: 0.3s;
}
.tourCards img:hover {
    opacity: 0.6;
}
